In [1]:

import pandas as pd 

dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_400_companies')
print(f'there are {len(dfs)} tables')

there are 3 tables

In [2]:
dfs[0].head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
0,AA,Alcoa,Materials,Aluminum,"Pittsburgh, Pennsylvania",reports
1,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",reports
2,AAON,AAON,Industrials,Building Products,"Tulsa, Oklahoma",reports
3,ACHC,Acadia Healthcare,Health Care,Health Care Facilities,"Franklin, Tennessee",reports
4,ACI,Albertsons,Consumer Staples,Food Retail,"Boise, Idaho",reports

In [3]:
dfs[1].head()

             Date  Added                   Removed                         \
             Date Ticker          Security  Ticker               Security
0    May 22, 2025   PEGA       Pegasystems     JWN              Nordstrom
1     May 1, 2025   OKTA        Okta, Inc.    BERY           Berry Global
2  March 31, 2025   CAVA        Cava Group    ALTR     Altair Engineering
3  March 24, 2025    VFC    VF Corporation     TKO     TKO Group Holdings
4  March 24, 2025    ALK  Alaska Air Group     WSM  Williams-Sonoma, Inc.

                                              Reason
                                              Reason
0  The Nordstrom family and El Puerto de Liverpoo...
1  S&P 500 constituent Amcor plc acquired Berry G...
2         Siemens AG acquired Altair Engineering.[4]
3                   Market capitalization change.[5]
4                   Market capitalization change.[5]

In [4]:
dfs[2].head()

     vteS&P 400 companies                             vteS&P 400 companies.1
0                  Energy  Antero Midstream Antero Resources ChampionX Ch...
1               Materials  Alcoa AptarGroup Ashland Global ATI Inc. Avien...
2             Industrials  AAON Acuity Brands Advanced Drainage Systems A...
3  Consumer Discretionary  Abercrombie & Fitch Aramark Autoliv AutoNation...
4        Consumer Staples  Albertsons BellRing Brands BJ's Wholesale Club...

In [5]:
sp400_mid_cap_raw = dfs[0]
sp400_mid_cap_change_raw = dfs[1]

In [6]:
sp400_mid_cap_raw.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
0,AA,Alcoa,Materials,Aluminum,"Pittsburgh, Pennsylvania",reports
1,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",reports
2,AAON,AAON,Industrials,Building Products,"Tulsa, Oklahoma",reports
3,ACHC,Acadia Healthcare,Health Care,Health Care Facilities,"Franklin, Tennessee",reports
4,ACI,Albertsons,Consumer Staples,Food Retail,"Boise, Idaho",reports

In [7]:
sp400_mid_cap_raw.tail()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings
396,XPO,"XPO, Inc.",Industrials,Cargo Ground Transportation,"Greenwich, Connecticut",reports
397,XRAY,Dentsply Sirona,Health Care,Health Care Supplies,"Charlotte, North Carolina",reports
398,YETI,Yeti Holdings,Consumer Discretionary,Leisure Products,"Austin, Texas",reports
399,ZI,ZoomInfo,Communication Services,Interactive Media & Services,"Vancouver, Washington",reports
400,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",reports

In [8]:
sp400_mid_cap_raw['SEC filings'].describe()

count         401
unique          1
top       reports
freq          401
Name: SEC filings, dtype: object

In [9]:
sp400_mid_cap = sp400_mid_cap_raw.drop(columns=['SEC filings'])
sp400_mid_cap.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location
0,AA,Alcoa,Materials,Aluminum,"Pittsburgh, Pennsylvania"
1,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas"
2,AAON,AAON,Industrials,Building Products,"Tulsa, Oklahoma"
3,ACHC,Acadia Healthcare,Health Care,Health Care Facilities,"Franklin, Tennessee"
4,ACI,Albertsons,Consumer Staples,Food Retail,"Boise, Idaho"

In [10]:
sp400_mid_cap_change_raw.head()

             Date  Added                   Removed                         \
             Date Ticker          Security  Ticker               Security
0    May 22, 2025   PEGA       Pegasystems     JWN              Nordstrom
1     May 1, 2025   OKTA        Okta, Inc.    BERY           Berry Global
2  March 31, 2025   CAVA        Cava Group    ALTR     Altair Engineering
3  March 24, 2025    VFC    VF Corporation     TKO     TKO Group Holdings
4  March 24, 2025    ALK  Alaska Air Group     WSM  Williams-Sonoma, Inc.

                                              Reason
                                              Reason
0  The Nordstrom family and El Puerto de Liverpoo...
1  S&P 500 constituent Amcor plc acquired Berry G...
2         Siemens AG acquired Altair Engineering.[4]
3                   Market capitalization change.[5]
4                   Market capitalization change.[5]

In [11]:
sp400_mid_cap.to_csv('index/sp400_mid_cap.csv', index=False)

In [12]:
sp400_mid_cap_change_raw.to_csv('index/sp400_mid_cap_change.csv', index=False)

In [14]:
from sqlalchemy.orm import Session

from src.utils import get_db_engine
from src.create_tables import SP400MidCap

table = SP400MidCap

engine = get_db_engine()
session = Session(engine)

count = session.query(table).count()
print(f'there are {count} rows in table {table.__tablename__}.')

there are 0 rows in table sp400_mid_cap.

In [15]:
for column in table.__table__.columns:
    print(f'Column: {column.name}, Type: {column.type}, Nullable: {column.nullable}')

Column: id, Type: INTEGER, Nullable: False
Column: ticker, Type: VARCHAR(10), Nullable: False
Column: company_name, Type: VARCHAR(100), Nullable: False
Column: sector, Type: VARCHAR(100), Nullable: False
Column: sub_industry, Type: VARCHAR(100), Nullable: False
Column: headquarters, Type: VARCHAR(100), Nullable: False

In [26]:
sp400_mid_cap = sp400_mid_cap.rename(columns={'Symbol': 'ticker',
                                                  'Security': 'company_name',
                                                  'GICS Sector': 'sector',
                                                  'GICS Sub-Industry': 'sub_industry',
                                                  'Headquarters Location': 'headquarters'})
sp400_mid_cap.head()

,ticker,company_name,sector,sub_industry,headquarters
0,AA,Alcoa,Materials,Aluminum,"Pittsburgh, Pennsylvania"
1,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas"
2,AAON,AAON,Industrials,Building Products,"Tulsa, Oklahoma"
3,ACHC,Acadia Healthcare,Health Care,Health Care Facilities,"Franklin, Tennessee"
4,ACI,Albertsons,Consumer Staples,Food Retail,"Boise, Idaho"

In [27]:
sp400_mid_cap.dtypes

ticker          object
company_name    object
sector          object
sub_industry    object
headquarters    object
dtype: object

In [34]:
for c in sp400_mid_cap.columns:
    print(f'{c}, if not null: {sp400_mid_cap[c].notna().all()}')

ticker, if not null: True
company_name, if not null: True
sector, if not null: True
sub_industry, if not null: True
headquarters, if not null: False

In [37]:
sp400_mid_cap['headquarters'] = sp400_mid_cap['headquarters'].fillna(value='unknown')

In [38]:
assert sp400_mid_cap['headquarters'].notna().all()

In [39]:
from sqlalchemy.types import String

sp400_mid_cap.to_sql(name='sp400_mid_cap', con=engine, if_exists='append', index=False, 
             dtype={'ticker': String(10), 
                    'company_name': String(100), 
                    'sector': String(100), 
                    'sub_industry': String(100),
                    'headquarters': String(100)}) # type: ignore

-1